= resource_form(@member) do |f|
  = record_name(@member.name, 'user', :when_blank => 'New Member')
  = form_errors(@member)
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name, :col => 6)
      = f.input(:email, :col => 6)

    = f.fieldset('Password') do
      = f.input(:password)

    = f.fieldset('Addresses') do
      - f.object.addresses.each do |address|
        = f.fields_for(address) do |af|
          = af.input(:type, :collection => Address.address_type_options, :include_blank => true, :label => 'Type')
          = af.input(:default)
          = af.input(:company)
          = af.input(:street)
          = af.input(:city)
          = af.input(:postcode)
          = af.input(:country)

    = f.fieldset('Saved Payment Methods') do
      - f.object.payment_methods.each do |payment_method|
        = f.fields_for(payment_method) do |pmf|
          = pmf.input(:type, :collection => Address.address_type_options, :include_blank => true, :label => 'Type')
          = pmf.input(:default)
          = pmf.input(:label)
          = pmf.input(:provider)


  = footer do
    = save_button
