= resource_form(@member) do |f|
  = record_name(@member.name, 'user', :when_blank => 'New Member')
  = form_errors(@member)
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name, :col => 6)
      = f.input(:email, :col => 6)
      = f.input(:phone, :col => 6)

    = f.fieldset('Status') do
      = f.input(:status, :collection => Member.member_status_options, :include_blank => true, :label => 'Status')
      %p.note
        - if f.object.confirmed?
          Confirmed on #{f.object.confirmed_at}
        - else
          Unconfirmed


    = f.fieldset('Password') do
      = f.input(:password)

    = f.fieldset('Addresses') do
      = f.fields_for(:addresses) do |af|
        .form-block
          = af.input(:type, :collection => Address.address_type_options, :include_blank => true, :label => 'Type')
          = af.input(:default)
          = af.input(:company)
          = af.input(:street)
          = af.input(:city)
          = af.input(:state)
          = af.input(:postcode)
          = af.input(:country)

    - @member.payment_methods.each do |pm|
      = pm.inspect

  = footer do
    = save_button
