- breadcrumb('Members')

- filter_nav(:members, 'Enabled')
- filter_nav(:members, 'Disabled', 'disabled')
- filter_nav(:members, 'All', 'all')

- sort_nav(:members, 'Name')
- sort_nav(:members, 'Updated', 'updated_at')

= content do
  %table.fixed-header(cellpadding=0 cellspacing=0)
    %thead
      %th.boolean Active?
      %th Name
      %th Payment?
      %th Address?
      %th Updated At
    %tbody
      - @members.each do |member|
        %tr
          %td.boolean
            %span(class="boolean #{member.status == 'active'}")
              %span= friendly_bool(member.status == 'active')

          %td= link_to(member.name, path(:edit, member), :class => 'title')
          
          %td.boolean
            %span(class="boolean #{member.default_payment_method.present?}")
              %span= friendly_bool(member.default_payment_method.present?)
          %td
            %span(class="boolean #{member.default_address.present?}")
              %span= friendly_bool(member.default_address.present?)
          %td
            %span.time= member.updated_at

= footer do
  = new_button('Member', :member)
  = paginate(@members, :theme => 'admin')
