= simple_form_for([:public, :member, address], url: url_for(action: address.new_record? ? :create : :update, controller: :member_address), html: {class: 'club-form'}) do |f|

  - if address.only?
    %p.note
      This address will be used for both billing and shipping.
      %br
      If you'd like to use separate addresses, you can set that up next.
  - else
    = f.input(:type, collection: Address.friendly_address_type_options, include_blank: false)

  = f.input(:company)
  = f.input(:street)
  = f.input(:city)
  = f.input(:state)
  = f.input(:postcode)
  = f.input(:country, collection: [['Australia', 'AU']])
  %p.note We currently only deliver to Australian addresses from our web shop.
  = f.input(:instructions, as: 'text')

  .club-form-controls
    %button{:type => 'submit'} Save
